# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: mortega- <mortega-@student.42Madrid.com>   +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/01/03 11:28:36 by mortega-          #+#    #+#              #
#    Updated: 2024/01/03 11:31:54 by mortega-         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

README.md
*.swp
*.o
